In [6]:
import json

with open('../configs/openai_api_key.json') as f:
    config = json.load(f)

In [7]:
import os
import openai

openai.api_key = config['key']
openai.Model.list()

<OpenAIObject list at 0x1117a5180> JSON: {
  "data": [
    {
      "created": 1649358449,
      "id": "babbage",
      "object": "model",
      "owned_by": "openai",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1669085501,
          "group": null,
          "id": "modelperm-49FUp5v084tBB49tC4z8LPH5",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "babbage"
    },
    {
      "created": 1649359874,
      "id": "davinci",
      "object": "model",
      "owned_by": "openai",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1669066355,
          "group": null,
          "id": "modelperm-U6ZwlyAd0LyMk4rcMdz33Yc3",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "davinci"
    },
    {
      "created": 1649809179,
      "id": "text-davinci-edit-001",
      "object": "model",
      "owned_by": "openai",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1679934178,
          "group": null,
          "id": "modelperm-otmQSS0hmabtVGHI9QB3bct3",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "text-davinci-edit-001"
    },
    {
      "created": 1651172509,
      "id": "babbage-code-search-code",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669085863,
          "group": null,
          "id": "modelperm-4qRnA3Hj8HIJbgo0cGbcmErn",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "babbage-code-search-code"
    },
    {
      "created": 1651172505,
      "id": "text-similarity-babbage-001",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669081947,
          "group": null,
          "id": "modelperm-48kcCHhfzvnfY84OtJf5m8Cz",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "text-similarity-babbage-001"
    },
    {
      "created": 1649880484,
      "id": "code-davinci-edit-001",
      "object": "model",
      "owned_by": "openai",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1679934178,
          "group": null,
          "id": "modelperm-Foe5Y4TvaKveYxt74oKMw8IB",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "code-davinci-edit-001"
    },
    {
      "created": 1649364042,
      "id": "text-davinci-001",
      "object": "model",
      "owned_by": "openai",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1669066355,
          "group": null,
          "id": "modelperm-MVM5NfoRjXkDve3uQW3YZDDt",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "text-davinci-001"
    },
    {
      "created": 1649357491,
      "id": "ada",
      "object": "model",
      "owned_by": "openai",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1675997661,
          "group": null,
          "id": "modelperm-u0nKN4ub7EVQudgMuvCuvDjc",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "ada"
    },
    {
      "created": 1651172509,
      "id": "babbage-code-search-text",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669085863,
          "group": null,
          "id": "modelperm-Lftf8H4ZPDxNxVs0hHPJBUoe",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "babbage-code-search-text"
    },
    {
      "created": 1651172505,
      "id": "babbage-similarity",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669081947,
          "group": null,
          "id": "modelperm-mS20lnPqhebTaFPrcCufyg7m",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "babbage-similarity"
    },
    {
      "created": 1677532384,
      "id": "whisper-1",
      "object": "model",
      "owned_by": "openai-internal",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1679416530,
          "group": null,
          "id": "modelperm-djnD3SGvfG9uvdu0Iz9Q66vO",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "whisper-1"
    },
    {
      "created": 1651172507,
      "id": "code-search-babbage-text-001",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669085863,
          "group": null,
          "id": "modelperm-EC5ASz4NLChtEV1Cwkmrwm57",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "code-search-babbage-text-001"
    },
    {
      "created": 1649364043,
      "id": "text-curie-001",
      "object": "model",
      "owned_by": "openai",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1679310997,
          "group": null,
          "id": "modelperm-8InhPV3CZfN3F5QHKoJd4zRD",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "text-curie-001"
    },
    {
      "created": 1651172507,
      "id": "code-search-babbage-code-001",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669085864,
          "group": null,
          "id": "modelperm-64LWHdlANgak2rHzc3K5Stt0",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "code-search-babbage-code-001"
    },
    {
      "created": 1669599635,
      "id": "text-davinci-003",
      "object": "model",
      "owned_by": "openai-internal",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1680551675,
          "group": null,
          "id": "modelperm-eX6Zax2krvLf9WtfO3NN9YJh",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "text-davinci-003"
    },
    {
      "created": 1649364042,
      "id": "text-ada-001",
      "object": "model",
      "owned_by": "openai",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1669088497,
          "group": null,
          "id": "modelperm-KN5dRBCEW4az6gwcGXkRkMwK",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "text-ada-001"
    },
    {
      "created": 1671217299,
      "id": "text-embedding-ada-002",
      "object": "model",
      "owned_by": "openai-internal",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1678892857,
          "group": null,
          "id": "modelperm-Dbv2FOgMdlDjO8py8vEjD5Mi",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "text-embedding-ada-002"
    },
    {
      "created": 1651172505,
      "id": "text-similarity-ada-001",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669092759,
          "group": null,
          "id": "modelperm-DdCqkqmORpqxqdg4TkFRAgmw",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "text-similarity-ada-001"
    },
    {
      "created": 1649364042,
      "id": "curie-instruct-beta",
      "object": "model",
      "owned_by": "openai",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1680267269,
          "group": null,
          "id": "modelperm-bsg59MlOi88CMf1MjnIKrT5a",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "curie-instruct-beta"
    },
    {
      "created": 1651172505,
      "id": "ada-code-search-code",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669087421,
          "group": null,
          "id": "modelperm-wa8tg4Pi9QQNaWdjMTM8dkkx",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "ada-code-search-code"
    },
    {
      "created": 1651172507,
      "id": "ada-similarity",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669092759,
          "group": null,
          "id": "modelperm-LtSIwCEReeDcvGTmM13gv6Fg",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "ada-similarity"
    },
    {
      "created": 1651172507,
      "id": "code-search-ada-text-001",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669087421,
          "group": null,
          "id": "modelperm-JBssaJSmbgvJfTkX71y71k2J",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "code-search-ada-text-001"
    },
    {
      "created": 1651172505,
      "id": "text-search-ada-query-001",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669092640,
          "group": null,
          "id": "modelperm-1YiiBMYC8it0mpQCBK7t8uSP",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "text-search-ada-query-001"
    },
    {
      "created": 1651172509,
      "id": "davinci-search-document",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669066355,
          "group": null,
          "id": "modelperm-M43LVJQRGxz6ode34ctLrCaG",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "davinci-search-document"
    },
    {
      "created": 1651172510,
      "id": "ada-code-search-text",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669087421,
          "group": null,
          "id": "modelperm-kFc17wOI4d1FjZEaCqnk4Frg",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "ada-code-search-text"
    },
    {
      "created": 1651172507,
      "id": "text-search-ada-doc-001",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669092640,
          "group": null,
          "id": "modelperm-kbHvYouDlkD78ehcmMOGdKpK",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "text-search-ada-doc-001"
    },
    {
      "created": 1649364042,
      "id": "davinci-instruct-beta",
      "object": "model",
      "owned_by": "openai",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": false,
          "allow_view": true,
          "created": 1669066356,
          "group": null,
          "id": "modelperm-k9kuMYlfd9nvFiJV2ug0NWws",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "davinci-instruct-beta"
    },
    {
      "created": 1651172507,
      "id": "text-similarity-curie-001",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669079883,
          "group": null,
          "id": "modelperm-6dgTTyXrZE7d53Licw4hYkvd",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "text-similarity-curie-001"
    },
    {
      "created": 1651172507,
      "id": "code-search-ada-code-001",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669087421,
          "group": null,
          "id": "modelperm-8soch45iiGvux5Fg1ORjdC4s",
          "is_blocking": false,
          "object": "model_permission",
          "organization": "*"
        }
      ],
      "root": "code-search-ada-code-001"
    },
    {
      "created": 1651172505,
      "id": "ada-search-query",
      "object": "model",
      "owned_by": "openai-dev",
      "parent": null,
      "permission": [
        {
          "allow_create_engine": false,
          "allow_fine_tuning": false,
          "allow_logprobs": true,
          "allow_sampling": true,
          "allow_search_indices": true,
          "allow_view": true,
          "created": 1669092640,

In [8]:
model_id = 'text-davinci-003'

prompt = '''
"""SQL tables (and columns):
* Customers(customer_id, signup_date)
* Streaming(customer_id, video_id, watch_date, watch_minutes)

A well-written SQL query that lists customers who signed up during March 2020 and watched more than 50 hours of video in their first 30 days:"""'''

prompt1 = '''"""Table customers, columns = [CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId]
Create a MySQL query for all customers in Texas named Jane
"""'''

prompt3 = '''
"""SQL tables (and columns):
* Customers(CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId)

Create a MySQL query for all customers in Texas named Jane:"""'''


prompts = [prompt, prompt1, prompt1, prompt3]
response = openai.Completion.create(
    model=model_id,
    prompt=prompts,
    max_tokens=256)

In [9]:
response

<OpenAIObject text_completion id=cmpl-71fy9KScx4ze7rkThkMjBOdnGeuPb at 0x130d93c20> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "text": "\n\nSELECT c.customer_id\nFROM Customers c\nJOIN Streaming s\nON c.customer_id = s.customer_id\nWHERE c.signup_date BETWEEN '2020-03-01' and '2020-03-31'\nAND s.watch_date BETWEEN c.signup_date AND DATE_ADD(c.signup_date, INTERVAL 30 DAY)\nGROUP BY c.customer_id\nHAVING SUM(s.watch_minutes) > 5000;"
    },
    {
      "finish_reason": "stop",
      "index": 1,
      "logprobs": null,
      "text": "\n\nSELECT * \nFROM Customers \nWHERE FirstName = 'Jane' AND State = 'Texas';"
    },
    {
      "finish_reason": "stop",
      "index": 2,
      "logprobs": null,
      "text": "\n\nSELECT *\nFROM customers\nWHERE FirstName = 'Jane' AND State = 'Texas';"
    },
    {
      "finish_reason": "stop",
      "index": 3,
      "logprobs": null,
      "text": "\n\nSELECT * FROM Customers\nWHERE FirstName = 'Jane'\nAND State = 'Texas';"
    }
  ],
  "created": 1680634013,
  "id": "cmpl-71fy9KScx4ze7rkThkMjBOdnGeuPb",
  "model": "text-davinci-003",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 186,
    "prompt_tokens": 244,
    "total_tokens": 430
  }
}

Seems like this model is quite deterministic across the 3 prompts.

Let's continue by processing the dev set for inference on Codex.

In [16]:
import os
path_to_cosql = os.environ['COSQL_PATH']
with open(f'{path_to_cosql}/sql_state_tracking/cosql_dev.json') as f:
    dev_cosql = json.load(f)
len(dev_cosql)

293

In [28]:
import pandas as pd
from process_sql import get_schema

def process_cosql(dataset, scope: str) -> pd.DataFrame:
    scope_valid = ['all', 'final', 'interaction']
    if scope not in scope_valid:
        raise ValueError(f'scope must be one of {scope_valid}')

    processed_input = []
    processed_target = []
    processed_db = []
    schema = []
    
    for dialog in dataset:
        if scope in ['all', 'final']:
            processed_input.append(dialog['final']['utterance'])
            processed_target.append(dialog['final']['query'])
        if scope in ['all', 'interaction']:
            for turn in dialog['interaction']:
                processed_input.append(turn['utterance'])
                processed_target.append(turn['query'])
        processed_db.append(dialog['database_id'])
        schema.append(get_schema(f"{path_to_cosql}/database/{dialog['database_id']}/{dialog['database_id']}.sqlite"))

                
    processed_dataset = pd.DataFrame({
        'input': processed_input,
        'target': processed_target,
        'db': processed_db,
        'schema': schema
    })

    return processed_dataset

In [29]:
processed_cosql = process_cosql(dev_cosql, scope='final')
#processed_cosql = processed_cosql.groupby('input').first().reset_index() # select first target for duplicate inputs
processed_cosql

,input,target,db,schema
0,How many car models are produced by each maker...,"SELECT Count(*) , T2.FullName , T2.id FROM M...",car_1,"{'continents': ['contid', 'continent'], 'count..."
1,List singer names and number of concerts for e...,"SELECT T2.name , count(*) FROM singer_in_conc...",concert_singer,"{'stadium': ['stadium_id', 'location', 'name',..."
2,Show ids for all templates that are used by mo...,SELECT template_id FROM Documents GROUP BY tem...,cre_Doc_Template_Mgt,"{'ref_template_types': ['template_type_code', ..."
3,Find the first name of the students who perman...,SELECT T1.first_name FROM Students AS T1 JOIN ...,student_transcripts_tracking,"{'addresses': ['address_id', 'line_1', 'line_2..."
4,Show names for all stadiums except for stadium...,SELECT name FROM stadium EXCEPT SELECT T2.name...,concert_singer,"{'stadium': ['stadium_id', 'location', 'name',..."
...,...,...,...,...
288,"Show names, results and bulgarian commanders o...","SELECT name , RESULT , bulgarian_commander F...",battle_death,"{'battle': ['id', 'name', 'date', 'bulgarian_c..."
289,Show the ids of high schoolers who have friend...,SELECT student_id FROM Friend INTERSECT SELECT...,network_1,"{'highschooler': ['id', 'name', 'grade'], 'fri..."
290,How many documents are using the template with...,SELECT count(*) FROM Documents AS T1 JOIN Temp...,cre_Doc_Template_Mgt,"{'ref_template_types': ['template_type_code', ..."
291,"For the cars with 4 cylinders, which model has...",SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS...,car_1,"{'continents': ['contid', 'continent'], 'count..."
292,What is the total number of unique official la...,SELECT count(DISTINCT T2.Language) FROM countr...,world_1,"{'city': ['id', 'name', 'countrycode', 'distri..."

In [50]:
def construct_prompt(row):
    prompt = ''
    for table in row['schema']:
        prompt += f"Table {table}, columns = [{', '.join(row['schema'][table])}]\n"
    prompt += '\n'
    
    prompt += f"Create a MySQL query to answer the following question: {row['input']}."
    return '"""' + prompt + '"""'

In [53]:
processed_cosql['prompt'] = processed_cosql.apply(construct_prompt, axis=1)
processed_cosql

,input,target,db,schema,prompt
0,How many car models are produced by each maker...,"SELECT Count(*) , T2.FullName , T2.id FROM M...",car_1,"{'continents': ['contid', 'continent'], 'count...","""""""Table continents, columns = [contid, contin..."
1,List singer names and number of concerts for e...,"SELECT T2.name , count(*) FROM singer_in_conc...",concert_singer,"{'stadium': ['stadium_id', 'location', 'name',...","""""""Table stadium, columns = [stadium_id, locat..."
2,Show ids for all templates that are used by mo...,SELECT template_id FROM Documents GROUP BY tem...,cre_Doc_Template_Mgt,"{'ref_template_types': ['template_type_code', ...","""""""Table ref_template_types, columns = [templa..."
3,Find the first name of the students who perman...,SELECT T1.first_name FROM Students AS T1 JOIN ...,student_transcripts_tracking,"{'addresses': ['address_id', 'line_1', 'line_2...","""""""Table addresses, columns = [address_id, lin..."
4,Show names for all stadiums except for stadium...,SELECT name FROM stadium EXCEPT SELECT T2.name...,concert_singer,"{'stadium': ['stadium_id', 'location', 'name',...","""""""Table stadium, columns = [stadium_id, locat..."
...,...,...,...,...,...
288,"Show names, results and bulgarian commanders o...","SELECT name , RESULT , bulgarian_commander F...",battle_death,"{'battle': ['id', 'name', 'date', 'bulgarian_c...","""""""Table battle, columns = [id, name, date, bu..."
289,Show the ids of high schoolers who have friend...,SELECT student_id FROM Friend INTERSECT SELECT...,network_1,"{'highschooler': ['id', 'name', 'grade'], 'fri...","""""""Table highschooler, columns = [id, name, gr..."
290,How many documents are using the template with...,SELECT count(*) FROM Documents AS T1 JOIN Temp...,cre_Doc_Template_Mgt,"{'ref_template_types': ['template_type_code', ...","""""""Table ref_template_types, columns = [templa..."
291,"For the cars with 4 cylinders, which model has...",SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS...,car_1,"{'continents': ['contid', 'continent'], 'count...","""""""Table continents, columns = [contid, contin..."
292,What is the total number of unique official la...,SELECT count(DISTINCT T2.Language) FROM countr...,world_1,"{'city': ['id', 'name', 'countrycode', 'distri...","""""""Table city, columns = [id, name, countrycod..."

In [62]:
def get_sql_codex(prompt):
    response = openai.Completion.create(model=model_id, prompt=prompt, max_tokens=256)
    return response.choices[0].text

In [69]:
from tqdm import tqdm
preds = []
for prompt in tqdm(processed_cosql['prompt']):
    preds.append(get_sql_codex(prompt))
processed_cosql['preds'] = preds
processed_cosql

,input,target,db,schema,prompt,preds
0,How many car models are produced by each maker...,"SELECT Count(*) , T2.FullName , T2.id FROM M...",car_1,"{'continents': ['contid', 'continent'], 'count...","""""""Table continents, columns = [contid, contin...","\n\nSELECT car_makers.fullname, COUNT(model_li..."
1,List singer names and number of concerts for e...,"SELECT T2.name , count(*) FROM singer_in_conc...",concert_singer,"{'stadium': ['stadium_id', 'location', 'name',...","""""""Table stadium, columns = [stadium_id, locat...","\n\nSELECT s.name AS 'Singer Name', COUNT(sic...."
2,Show ids for all templates that are used by mo...,SELECT template_id FROM Documents GROUP BY tem...,cre_Doc_Template_Mgt,"{'ref_template_types': ['template_type_code', ...","""""""Table ref_template_types, columns = [templa...",\n\nSELECT template_id\nFROM templates\nWHERE ...
3,Find the first name of the students who perman...,SELECT T1.first_name FROM Students AS T1 JOIN ...,student_transcripts_tracking,"{'addresses': ['address_id', 'line_1', 'line_2...","""""""Table addresses, columns = [address_id, lin...",\nSELECT first_name\nFROM students\nINNER JOIN...
4,Show names for all stadiums except for stadium...,SELECT name FROM stadium EXCEPT SELECT T2.name...,concert_singer,"{'stadium': ['stadium_id', 'location', 'name',...","""""""Table stadium, columns = [stadium_id, locat...",\n\nSELECT name\nFROM stadium\nWHERE stadium_i...
...,...,...,...,...,...,...
288,"Show names, results and bulgarian commanders o...","SELECT name , RESULT , bulgarian_commander F...",battle_death,"{'battle': ['id', 'name', 'date', 'bulgarian_c...","""""""Table battle, columns = [id, name, date, bu...","\n\nSELECT b.name, b.result, b.bulgarian_comma..."
289,Show the ids of high schoolers who have friend...,SELECT student_id FROM Friend INTERSECT SELECT...,network_1,"{'highschooler': ['id', 'name', 'grade'], 'fri...","""""""Table highschooler, columns = [id, name, gr...",\n\nSELECT h.id \nFROM highschooler h\nJOIN fr...
290,How many documents are using the template with...,SELECT count(*) FROM Documents AS T1 JOIN Temp...,cre_Doc_Template_Mgt,"{'ref_template_types': ['template_type_code', ...","""""""Table ref_template_types, columns = [templa...",\n\nSELECT COUNT(DISTINCT d.document_id)\nFROM...
291,"For the cars with 4 cylinders, which model has...",SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS...,car_1,"{'continents': ['contid', 'continent'], 'count...","""""""Table continents, columns = [contid, contin...",\n\nSELECT model\nFROM cars_data \nJOIN model_...
292,What is the total number of unique official la...,SELECT count(DISTINCT T2.Language) FROM countr...,world_1,"{'city': ['id', 'name', 'countrycode', 'distri...","""""""Table city, columns = [id, name, countrycod...",\n\nSELECT COUNT(DISTINCT cl.language) \nFROM ...

In [73]:
processed_cosql['preds'] = processed_cosql['preds'].map(lambda x: x.replace('\n', '')) # remove newlines

In [76]:
codex_path = os.environ['TEXT_DAVINCI_CHECKPOINT_PATH']
with open(f"{codex_path}/predict_final.txt","w") as f:
  for data in processed_cosql['preds']:
    f.write(data + "\n")

**Evaluate**

In [77]:
!python evaluation.py --gold="{path_to_cosql}/sql_state_tracking/dev_gold_final.txt" --pred="{codex_path}/predict_final.txt" --db="{path_to_cosql}/database" --table="{path_to_cosql}/tables.json" --etype="all"

medium pred: SELECT car_makers.fullname, COUNT(model_list.model) FROM car_makers JOIN model_list ON car_makers.id = model_list.maker GROUP BY car_makers.fullname;
medium gold: SELECT Count(*) ,  T2.FullName ,  T2.id FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id;

eval_err_num:1
medium pred: SELECT s.name AS 'Singer Name', COUNT(sic.concert_id) AS 'Number of Concerts' FROM singer sJOIN singer_in_concert sic ON s.singer_id = sic.singer_idGROUP BY s.name;
medium gold: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id

eval_err_num:2
easy pred: SELECT template_idFROM templatesWHERE template_id IN (SELECT template_id                      FROM documents                      GROUP BY template_id                      HAVING COUNT(document_id) > 1)
easy gold: SELECT template_id FROM Documents GROUP BY template_id HAVING count(*)  >  1

eval_err_num:3
extra pred: SELECT first_nameFROM studentsINNER JOIN addresses adr ON adr.address_id = students.permanent_address_idWHERE adr.country = 'Haiti' OR students.cell_mobile_number = '09700166582';
extra gold: SELECT T1.first_name FROM Students AS T1 JOIN Addresses AS T2 ON T1.permanent_address_id  =  T2.address_id WHERE T2.country  =  'Haiti' UNION SELECT first_name FROM Students WHERE cell_mobile_number  =  '09700166582'

eval_err_num:4
hard pred: SELECT nameFROM stadiumWHERE stadium_id NOT IN (SELECT stadium_id                        FROM concert                        WHERE year = 2014);
hard gold: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014

eval_err_num:5
extra pred: SELECT COUNT(*) FROM Dogs WHERE NOT EXISTS (
extra gold: SELECT count(*) FROM Dogs WHERE dog_id NOT IN ( SELECT dog_id FROM Treatments )

eval_err_num:6
medium pred: SELECT t.name, COUNT(ca.teacher_id) AS total_courses_taughtFROM teacher tJOIN course_arrange ca    ON t.teacher_id = ca.teacher_idGROUP BY t.name;
medium gold: SELECT T2.Name ,  COUNT(*) FROM course_arrange AS T1 JOIN teacher AS T2 ON T1.Teacher_ID  =  T2.Teacher_ID GROUP BY T2.Name

eval_err_num:7
hard pred: SELECT tv_channel.package_option FROM tv_channel LEFT JOIN cartoon ON tv_channel.id=cartoon.channel WHERE cartoon.directed_by != 'Ben Jones' GROUP BY tv_channel.package_option;
hard gold: SELECT package_option FROM TV_Channel WHERE id NOT IN (SELECT channel FROM cartoon WHERE directed_by  =  'Ben Jones')

hard pred: SELECT MIN(weight)FROM cars_data WHERE cylinders = 8 AND year = 1974;
hard gold: SELECT Weight FROM CARS_DATA WHERE Cylinders  =  4 AND YEAR  =  1974 ORDER BY Weight ASC LIMIT 1;

eval_err_num:8
medium pred: SELECT sh.manager_name, sh.districtFROM shop shJOIN (SELECT shop_id, MAX(number_products) AS max_products
medium gold: SELECT manager_name ,  district FROM shop ORDER BY number_products DESC LIMIT 1

eval_err_num:9
extra pred: SELECT district, COUNT(*) AS num_cities FROM cityWHERE population > (SELECT AVG(population) FROM city)GROUP BY district;
extra gold: SELECT count(*) ,  District FROM city WHERE Population  >  (SELECT avg(Population) FROM city) GROUP BY District

eval_err_num:10
medium pred: SELECT AVG(c.gnp) AS avg_gnp, SUM(c.population) AS total_populationFROM country cWHERE c.governmentform = 'US Territory'GROUP BY c.countrycode;
medium gold: SELECT avg(GNP) ,  sum(population) FROM country WHERE GovernmentForm  =  "US Territory"

eval_err_num:11
medium pred: SELECT SUM(surfacearea)FROM country WHERE continent IN ('Asia', 'Europe');
medium gold: SELECT sum(SurfaceArea) FROM country WHERE Continent  =  "Asia" OR Continent  =  "Europe"

eval_err_num:12
medium pred: SELECT shop.name, COUNT(hiring.employee_id) AS ‘num_employees’FROM shopLEFT JOIN hiring ON shop.shop_id = hiring.shop_idGROUP BY shop.name;
medium gold: SELECT count(*) ,  t2.name FROM hiring AS t1 JOIN shop AS t2 ON t1.shop_id  =  t2.shop_id GROUP BY t2.name

eval_err_num:13
medium pred: SELECT s.name as singer_name, COUNT(si.concert_id) as num_concerts FROM singer sINNER JOIN singer_in_concert si on s.singer_id = si.singer_id GROUP BY s.name ORDER BY num_concerts DESC;
medium gold: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id

eval_err_num:14
medium pred: SELECT c.contid, c.continent, COUNT(DISTINCT co.countryid) AS Num_CountriesFROM continents cINNER JOIN countries co  ON c.contid = co.continentGROUP BY c.contid, c.continent;
medium gold: SELECT T1.ContId ,  T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.Continent GROUP BY T1.ContId;

eval_err_num:15
extra pred: SELECT modelFROM model_list mLEFT JOIN cars_data c ON c.modelid = m.modelidLEFT JOIN car_makers cm ON cm.id = m.makerWHERE c.weight < 3500 AND cm.fullname != 'Ford Motor Company';
extra gold: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.Model  =  T2.Model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.Id JOIN CAR_MAKERS AS T4 ON T1.Maker  =  T4.Id WHERE T3.weight  <  3500 AND T4.FullName != 'Ford Motor Company';

eval_err_num:16
hard pred: SELECT languageFROM countrylanguage cINNER JOIN country c2 ON c.countrycode = c2.codeWHERE c2.governmentform = 'Republic'GROUP BY languageHAVING COUNT(*) = 1;
hard gold: SELECT T2.Language FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T1.GovernmentForm  =  "Republic" GROUP BY T2.Language HAVING COUNT(*)  =  1

medium pred: SELECT COUNT(*) FROM flights WHERE airline = 'United Airlines' AND sourceairport = 'AHD';
medium gold: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"

eval_err_num:17
medium pred: SELECT DISTINCT name FROM singer INNER JOIN songON singer.singer_id = song.singer_idWHERE sales > 300000;
medium gold: SELECT DISTINCT T1.Name FROM singer AS T1 JOIN song AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T2.Sales  >  300000

eval_err_num:18
extra pred: SELECT airline, COUNT(*)FROM flightsGROUP BY airlineORDER BY COUNT(*) DESCLIMIT 1;
extra gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) DESC LIMIT 1

eval_err_num:19
extra pred: SELECT c.course_nameFROM courses c JOIN student_enrolment_courses sec ON c.course_id = sec.course_idGROUP BY c.course_nameORDER BY COUNT(*) DESCLIMIT 1;
extra gold: SELECT  T1.course_name FROM Courses AS T1 JOIN Student_Enrolment_Courses AS T2 ON T1.course_id  =  T2.course_id GROUP BY T1.course_name ORDER BY count(*) DESC LIMIT 1

eval_err_num:20
medium pred: SELECT s.name, COUNT(sc.concert_id) FROM stadium s INNER JOIN concert sc ON s.stadium_id = sc.stadium_id GROUP BY s.name;
medium gold: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id

medium pred: SELECT airline FROM airlines WHERE uid IN   (SELECT airline    FROM flights    GROUP BY airline    HAVING COUNT(*) < 200)
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline HAVING count(*)  <  200

eval_err_num:21
easy pred: SELECT DISTINCT nationalityFROM peopleWHERE people_id IN (    SELECT people_id    FROM poker_player    GROUP BY people_id    HAVING COUNT(*) > 1)
easy gold: SELECT Nationality FROM people GROUP BY Nationality HAVING COUNT(*)  >=  2

eval_err_num:22
medium pred: SELECT AVG(p1.player_age) AS 'Average Losers Age', AVG(p2.player_age) AS 'Average Winner Age'FROM players p1INNER JOIN matches m ON m.loser_id = p1.player_idINNER JOIN players p2 ON m.winner_id = p2.player_id
medium gold: SELECT avg(loser_age) ,  avg(winner_age) FROM matches

eval_err_num:23
hard pred: SELECT COUNT(*) FROM flights JOIN airports ON (airports.airportcode = flights.destairport)WHERE airports.city IN ('Aberdeen', 'Abilene');
hard gold: SELECT count(*) FROM Flights AS T1 JOIN Airports AS T2 ON T1.DestAirport  =  T2.AirportCode WHERE T2.city  =  "Aberdeen" OR T2.city  =  "Abilene"

eval_err_num:24
extra pred: SELECT museum.museum_id, museum.nameFROM museum INNER JOIN visit ON museum.museum_id = visit.museum_id GROUP BY museum.museum_id ORDER BY COUNT(*) DESC LIMIT 1;
extra gold: SELECT t2.Museum_ID ,  t1.name FROM museum AS t1 JOIN visit AS t2 ON t1.Museum_ID  =  t2.Museum_ID GROUP BY t2.Museum_ID ORDER BY count(*) DESC LIMIT 1

eval_err_num:25
medium pred: SELECT titleFROM cartoonWHERE directed_by = 'Ben Jones' OR directed_by = 'Brandon Vietti';
medium gold: SELECT Title FROM Cartoon WHERE Directed_by = "Ben Jones" OR Directed_by = "Brandon Vietti";

eval_err_num:26
medium pred: SELECT documents.document_name, templates.template_id FROM documents INNER JOIN templates ON documents.template_id = templates.template_idWHERE documents.document_description LIKE '%w%';
medium gold: SELECT document_name ,  template_id FROM Documents WHERE Document_Description LIKE "%w%"

eval_err_num:27
medium pred: SELECT AVG(losers.winner_age) AS Average_Loser, AVG(winners.loser_age) AS Average_WinnerFROM matches losers JOIN matches winners ON losers.match_num = winners.match_num WHERE losers.winner_id != winners.loser_id;
medium gold: SELECT avg(loser_age) ,  avg(winner_age) FROM matches

eval_err_num:28
extra pred: SELECT d.name, t.date_of_treatmentFROM dogs dINNER JOIN breeds b ON b.breed_code = d.breed_codeINNER JOIN treatments t ON t.dog_id = d.dog_idWHERE b.breed_code = (SELECT b.breed_code                  FROM breeds b                  ORDER BY b.breed_code ASC                  LIMIT 1)ORDER BY t.date_of_treatment ASC;
extra gold: SELECT T1.name ,  T2.date_of_treatment FROM Dogs AS T1 JOIN Treatments AS T2 ON T1.dog_id  =  T2.dog_id WHERE T1.breed_code  =  ( SELECT breed_code FROM Dogs GROUP BY breed_code ORDER BY count(*) ASC LIMIT 1 )

eval_err_num:29
hard pred: SELECT stuidFROM student s LEFT JOIN has_pet h ON s.stuid = h.stuid LEFT JOIN pets p ON h.petid = p.petidWHERE p.pettype != 'cat' OR p.pettype IS NULL;
hard gold: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'

eval_err_num:30
extra pred: SELECT visitor.name FROM visitor INNER JOIN visit ON visitor.id = visit.visitor_id INNER JOIN museum ON museum.museum_id = visit.museum_id WHERE museum.open_year < 2009 AND museum.open_year > 2011;
extra gold: SELECT t1.name FROM visitor AS t1 JOIN visit AS t2 ON t1.id  =  t2.visitor_id JOIN museum AS t3 ON t3.Museum_ID  =  t2.Museum_ID WHERE t3.open_year  <  2009 INTERSECT SELECT t1.name FROM visitor AS t1 JOIN visit AS t2 ON t1.id  =  t2.visitor_id JOIN museum AS t3 ON t3.Museum_ID  =  t2.Museum_ID WHERE t3.open_year  >  2011

eval_err_num:31
medium pred: SELECT flights.flightnoFROM airlines JOIN flights ON airlines.abbreviation = flights.airlineWHERE airlines.airline = 'United Airlines';
medium gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T2.uid  =  T1.Airline WHERE T2.Airline  =  "United Airlines"

eval_err_num:32
medium pred: SELECT first_name, last_nameFROM playersWHERE hand = 'L' ORDER BY birth_date;
medium gold: SELECT first_name ,  last_name FROM players WHERE hand  =  'L' ORDER BY birth_date

hard pred: SELECT COUNT(*) FROM flights WHERE airline = 'United Airlines' AND destairport IN (SELECT airportcode                     FROM airports                     WHERE city = 'Aberdeen');
hard gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"

eval_err_num:33
hard pred: SELECT t.name FROM teacher t JOIN course_arrange ca ON t.teacher_id = ca.teacher_id JOIN course c ON ca.course_id = c.course_id WHERE c.course = 'math';
hard gold: SELECT T3.Name FROM course_arrange AS T1 JOIN course AS T2 ON T1.Course_ID  =  T2.Course_ID JOIN teacher AS T3 ON T1.Teacher_ID  =  T3.Teacher_ID WHERE T2.Course  =  "Math"

eval_err_num:34
hard pred: SELECT birth_date FROM people JOIN poker_player     ON people.people_id = poker_player.people_idWHERE earnings = (SELECT MIN(earnings)                   FROM poker_player);
hard gold: SELECT T1.Birth_Date FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Earnings ASC LIMIT 1

eval_err_num:35
medium pred: SELECT AVG(p.earnings)FROM poker_player p    INNER JOIN people l ON p.people_id= l.people_idWHERE l.height > 200;
medium gold: SELECT avg(T2.Earnings) FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID WHERE T1.Height  >  200

eval_err_num:36
extra pred: SELECT fname, ageFROM studentWHERE stuid IN (SELECT stuid                 FROM has_pet                 WHERE petid IN (SELECT petid                                 FROM pets                                 WHERE pettype = 'dog'                  EXCEPT                  SELECT petid                 FROM pets                 WHERE pettype = 'cat'))
extra gold: SELECT T1.fname ,  T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog' AND T1.stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')

extra pred: SELECT city.name FROM city JOIN country ON city.countrycode = country.code JOIN countrylanguage ON country.code = countrylanguage.countrycode WHERE country.continent = 'Europe' AND countrylanguage.language = 'English' AND countrylanguage.isofficial = 'F'
extra gold: SELECT DISTINCT T2.Name FROM country AS T1 JOIN city AS T2 ON T2.CountryCode  =  T1.Code WHERE T1.Continent  =  'Europe' AND T1.Name NOT IN (SELECT T3.Name FROM country AS T3 JOIN countrylanguage AS T4 ON T3.Code  =  T4.CountryCode WHERE T4.IsOfficial  =  'T' AND T4.Language  =  'English')

eval_err_num:37
easy pred: SELECT tvc.idFROM tv_channel tvcINNER JOIN     (SELECT country, COUNT(*) as channel_count     FROM tv_channel     GROUP BY country     HAVING channel_count > 2) chON ch.country = tvc.country;
easy gold: SELECT id FROM tv_channel GROUP BY country HAVING count(*)  >  2

eval_err_num:38
hard pred: SELECT AVG(DATE_FORMAT(NOW(), '%Y') - DATE_FORMAT(dogs.date_of_birth, '%Y')) FROM dogs INNER JOIN treatments ON dogs.dog_id = treatments.dog_id;
hard gold: SELECT avg(age) FROM Dogs WHERE dog_id IN ( SELECT dog_id FROM Treatments )

eval_err_num:39
extra pred: SELECT SUM(c.population)FROM city cINNER JOIN country ct ON c.countrycode = ct.codeINNER JOIN countrylanguage cl ON ct.code = cl.countrycodeWHERE cl.language != 'English'
extra gold: SELECT sum(Population) FROM country WHERE Name NOT IN (SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "English")

eval_err_num:40
extra pred: SELECT modelFROM cars_data INNER JOIN model_list ON cars_data.makeid = model_list.modelid WHERE cylinders = 4 ORDER BY horsepower DESCLIMIT 1;
extra gold: SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T2.Cylinders  =  4 ORDER BY T2.horsepower DESC LIMIT 1;

hard pred: SELECT MIN(weight) FROM cars_data WHERE cylinders = 8 AND year = 1974;
hard gold: SELECT Weight FROM CARS_DATA WHERE Cylinders  =  4 AND YEAR  =  1974 ORDER BY Weight ASC LIMIT 1;

eval_err_num:41
extra pred: SELECT s.name FROM shop sINNER JOIN hiring hON s.shop_id = h.shop_idGROUP BY s.name ORDER BY COUNT(*) DESC LIMIT 1;
extra gold: SELECT t2.name FROM hiring AS t1 JOIN shop AS t2 ON t1.shop_id  =  t2.shop_id GROUP BY t1.shop_id ORDER BY count(*) DESC LIMIT 1

eval_err_num:42
medium pred: SELECT DISTINCT name FROM singer INNER JOIN song ON singer.singer_id = song.singer_id WHERE song.sales > 300000;
medium gold: SELECT DISTINCT T1.Name FROM singer AS T1 JOIN song AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T2.Sales  >  300000

eval_err_num:43
medium pred: SELECT c.contestant_nameFROM contestants cJOIN votes vON c.contestant_number = v.contestant_numberJOIN area_code_state acsON acs.area_code = SUBSTR(v.phone_number, 1, 3)WHERE c.contestant_name LIKE '%Al%';
medium gold: SELECT contestant_name FROM contestants WHERE contestant_name LIKE "%Al%"

hard pred: SELECT COUNT(*) FROM flights WHERE sourceairport IN     (SELECT airportcode     FROM airports     WHERE city = 'Aberdeen') AND destairport IN     (SELECT airportcode     FROM airports     WHERE city = 'Ashley');
hard gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRPORTS AS T3 ON T1.SourceAirport  =  T3.AirportCode WHERE T2.City  =  "Ashley" AND T3.City  =  "Aberdeen"

eval_err_num:44
extra pred: SELECT b.breed_nameFROM breeds bINNER JOIN dogs dON b.breed_code = d.breed_codeGROUP BY b.breed_nameORDER BY COUNT(d.breed_code) DESCLIMIT 1;
extra gold: SELECT T1.breed_name FROM Breeds AS T1 JOIN Dogs AS T2 ON T1.breed_code  =  T2.breed_code GROUP BY T1.breed_name ORDER BY count(*) DESC LIMIT 1

eval_err_num:45
medium pred: SELECT c.name, MAX(c.year_of_work)FROM conductor cGROUP BY c.nameORDER BY MAX(c.year_of_work) DESCLIMIT 1;
medium gold: SELECT Name FROM conductor ORDER BY Year_of_Work DESC LIMIT 1

eval_err_num:46
medium pred: SELECT P.professional_id, P.role_code, P.first_nameFROM professionals PINNER JOIN treatments T ON (T.professional_id = P.professional_id)GROUP BY P.professional_id, P.role_code, P.first_nameHAVING COUNT(T.treatment_id) >= 2;
medium gold: SELECT T1.professional_id ,  T1.role_code ,  T1.first_name FROM Professionals AS T1 JOIN Treatments AS T2 ON T1.professional_id  =  T2.professional_id GROUP BY T1.professional_id HAVING count(*)  >=  2

eval_err_num:47
hard pred: SELECT c.code FROM country c LEFT JOIN countrylanguage cl   ON c.code = cl.countrycode WHERE cl.language != 'English'   AND c.governmentform != 'Republic';
hard gold: SELECT Code FROM country WHERE GovernmentForm != "Republic" EXCEPT SELECT CountryCode FROM countrylanguage WHERE LANGUAGE  =  "English"

eval_err_num:48
medium pred: SELECT COUNT(*) FROM votesWHERE state IN ('NY', 'CA');
medium gold: SELECT count(*) FROM votes WHERE state  =  'NY' OR state  =  'CA'

eval_err_num:49
hard pred: SELECT nationality, COUNT(*) AS nationality_countFROM peopleJOIN poker_playerON people.people_id = poker_player.people_idGROUP BY nationalityORDER BY nationality_count DESC LIMIT 1;
hard gold: SELECT Nationality FROM people GROUP BY Nationality ORDER BY COUNT(*) DESC LIMIT 1

eval_err_num:50
medium pred: SELECT cm.fullname, cm.idFROM car_makers cmINNER JOIN model_list ml ON (cm.id = ml.maker)GROUP BY cm.fullname, cm.id HAVING COUNT(DISTINCT ml.model) > 3;
medium gold: SELECT T1.FullName ,  T1.Id FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id HAVING count(*)  >  3;

eval_err_num:51
hard pred: SELECT COUNT(*) FROM cars_data cWHERE c.accelerate > (SELECT MAX(c2.horsepower)                       FROM cars_data c2)
hard gold: SELECT COUNT(*) FROM CARS_DATA WHERE Accelerate  >  ( SELECT Accelerate FROM CARS_DATA ORDER BY Horsepower DESC LIMIT 1 );

eval_err_num:52
medium pred: SELECT COUNT(*) FROM concertWHERE year IN (2014, 2015);
medium gold: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015

eval_err_num:53
easy pred: SELECT tourney_nameFROM matchesGROUP BY tourney_nameHAVING COUNT(*) > 10;
easy gold: SELECT tourney_name FROM matches GROUP BY tourney_name HAVING count(*)  >  10

eval_err_num:54
medium pred: SELECT first_name, middle_name, last_nameFROM studentsINNER JOIN student_enrolment ON students.student_id = student_enrolment.student_id INNER JOIN degree_programs ON student_enrolment.degree_program_id = degree_programs.degree_program_id WHERE date_first_registered IN (SELECT MIN(date_first_registered) FROM students)

In [78]:
import nltk
from process_sql import Schema, get_sql
from evaluation import build_valid_col_units, rebuild_sql_val, rebuild_sql_col, build_foreign_key_map_from_json, Evaluator, eval_exec_match
kmaps = build_foreign_key_map_from_json(f"{path_to_cosql}/tables.json")
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/amanchopra/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [79]:
def evaluate(gold, predict, db_dir, kmaps):
    with open(gold) as f:
        glist = [l.strip().split('\t') for l in f.readlines() if len(l.strip()) > 0]

    with open(predict) as f:
        plist = [l.strip().split('\t') for l in f.readlines() if len(l.strip()) > 0]
    # plist = [("select max(Share),min(Share) from performance where Type != 'terminal'", "orchestra")]
    # glist = [("SELECT max(SHARE) ,  min(SHARE) FROM performance WHERE TYPE != 'Live final'", "orchestra")]

    all = 0
    execute = 0
    exact = 0
    for p, g in zip(plist, glist):
        p_str = p[0]
        g_str, db = g
        db_name = db
        db = os.path.join(db_dir, db, db + ".sqlite")
        schema = Schema(get_schema(db))
        g_sql = get_sql(schema, g_str)
        all += 1.0

        try:
            p_sql = get_sql(schema, p_str)
        except:
            # If p_sql is not valid, then we will use an empty sql to evaluate with the correct sql
            p_sql = {
            "except": None,
            "from": {
                "conds": [],
                "table_units": []
            },
            "groupBy": [],
            "having": [],
            "intersect": None,
            "limit": None,
            "orderBy": [],
            "select": [
                False,
                []
            ],
            "union": None,
            "where": []
            }

        # rebuild sql for value evaluation
        kmap = kmaps[db_name]
        g_valid_col_units = build_valid_col_units(g_sql['from']['table_units'], schema)
        g_sql = rebuild_sql_val(g_sql)
        g_sql = rebuild_sql_col(g_valid_col_units, g_sql, kmap)
        p_valid_col_units = build_valid_col_units(p_sql['from']['table_units'], schema)
        p_sql = rebuild_sql_val(p_sql)
        p_sql = rebuild_sql_col(p_valid_col_units, p_sql, kmap)

        exec_score = eval_exec_match(db, p_str, g_str, p_sql, g_sql)
        if exec_score:
            execute += 1.0

        evaluator = Evaluator()
        exact_score = evaluator.eval_exact_match(p_sql, g_sql)
        if exact_score:
            exact += 1.0

    return {"execute":execute/all, "exact": exact/all}

In [80]:
evaluate(f"{path_to_cosql}/sql_state_tracking/dev_gold_final.txt", f"{codex_path}/predict_final.txt", f"{path_to_cosql}/database", kmaps)

{'execute': 0.05460750853242321, 'exact': 0.03754266211604096}